theme = "gruber-darker"

[editor]
line-number = "relative"
bufferline = "always"
scrolloff = 999
rulers = [80]
mouse = false

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"
